.photo-grid{
    box-sizing: border-box;
    margin: 92px auto;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-template-rows:  repeat(auto-fit, minmax(213px, 1fr));
    gap: 16px;
    max-width: 1184px;
}

@media screen and (max-width: 1279px) {
    .photo-grid {
        gap:14px;
        max-width: 90.625%;
    }
  }
@media screen and (max-width: 1023px) {
    .photo-grid {
        gap:16px;
        margin: 88px auto;
        max-width: 93.75%;
    }
  }

  @media screen and (max-width: 767px) {
    .photo-grid {
        gap:12px;
        margin: 64px auto;
    }
  }