.cover{
    min-height: 740px;
    margin: 92px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
}

.cover::before{
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-color: #2a2c2f;
  transition: opacity 1s;
  
}
.cover:hover::before{
  content: '';
  background-color: #2a2c2f;
  opacity: 0.8;
}
@media screen and (max-width: 1279px) {
    .cover {
    min-height: 640px;
    margin: 92px -48px;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .cover {
    min-height: 480px;
    margin: 90px -24px 88px -24px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .cover {
    min-height: 200px;
    margin: 66px -16px 64px -16px;
    }
  }