.cover__background { 
    width: 100%;
    min-height: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    text-decoration: none;
    color: #fff;
  }
  
  .cover__background::before { 
    position: absolute;
    content: '';
    width: 100%;
    min-height: 720px;
    background-color: #2a2c2f;
    opacity: 0.3;
    transition: opacity ease-out 1s;
  }
  
  .cover__background:hover::before { 
    opacity: 0.8;
  }

  @media screen and (max-width: 1184px) { 
    .cover__background {
        min-height: 640px;
        width: 100%;
    }
    .cover__background::before { 
      min-height: 640px;
      width: 100%;
    }
  }
  @media screen and (max-width: 1023px) {
    .cover__background {
        min-height: 480px;
        width: 100%;
    }
    .cover__background::before { 
      min-height: 480px;
      width: 100%;
    }
  }
  @media screen and (max-width: 767px) {
    .cover__background {
        min-height: 200px;
        width: 100%;
        
    }
    .cover__background::before { 
      min-height: 200px;
      width: 100%;
    }
  }
  