.place__url-heading{
    color: #aaa;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    font-family: 'Inter';
    font-weight: 400;
    margin: 0 0 12px 0;
}
@media screen and (max-width: 767px) {
    .place__url-heading {
        width: 90%;
    }
  }