.header__lang-links{
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    column-gap: 18px;
}
@media screen and (max-width: 767px) {
    .header__lang-links {
        align-items: center;
    }
  }
